# Where to store the dream data:
DREAM_DATA_DIR=./data

# The name of the local machine where dream runs:
# DREAM_MACHINE=local

# Comma-delimited list of ssh hosts to extract Claude Code sessions & memories from:
# DREAM_REMOTE_CLAUDE_HOSTS=foo,bar

# Comma-delimited list of ssh hosts to extract OpenCode sessions from
# (requires `sqlite3` to be on the remote $PATH):
# DREAM_REMOTE_OPENCODE_HOSTS=foo,bar

# Firefox profiles are located in ~/Library/Application Support/Firefox/Profiles
# DREAM_FIREFOX_PROFILES=somehash.default