# Where to store the dream data:
DREAM_DATA_DIR=./data

# The name of the local machine where dream runs:
# DREAM_MACHINE=local

# Comma-delimited list of ssh hosts to extract Claude Code sessions from:
# DREAM_REMOTE_CLAUDE_SESSIONS_HOSTS=foo,bar

# Firefox profiles are located in ~/Library/Application Support/Firefox/Profiles
# DREAM_FIREFOX_PROFILES=somehash.default